C:/Users/Admin/Desktop/HTML[[:space:]]&[[:space:]]CSS/website/website[[:space:]]html[[:space:]]practice/websites&Projects/Bridger/Bridger-24w03a[[:space:]](version[[:space:]]1.0.0) filter=lfs diff=lfs merge=lfs -text
C:/Users/Admin/Desktop/HTML[[:space:]]&[[:space:]]CSS/website/website[[:space:]]html[[:space:]]practice/websites&Projects/Bridger/Bridger-24w03a[[:space:]](version[[:space:]]1.0.0) filter=lfs diff=lfs merge=lfs -text
C:/Users/Admin/Desktop/Bridger-24w03a filter=lfs diff=lfs merge=lfs -text
(version filter=lfs diff=lfs merge=lfs -text
1.0.0) filter=lfs diff=lfs merge=lfs -text
C:/Users/Admin/Desktop/Bridger-24w03a(version1.0.0) filter=lfs diff=lfs merge=lfs -text
